.slider-content{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-end {
  font-family: 'Roboto';
  font-weight: 600;
}
#search{
  height: 15px;
  position: absolute;
  margin-left: 10px;
}
#location{
  height: 15px;
  position: absolute;
  left: 42%;
}
#next{
 transform: rotate(-180deg);
  background-color: #00CED1;
  height: 30px;
}
#prev{
  background-color: #00CED1;
  height: 30px;
}

.slide{
  width: 50%;
  margin: 5px;
  display: flex;
  margin-top:0%;
  justify-content: center;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.1);
  background-color: white;
}

.slider{
  width:70%;
  height: 235px;
  display: flex;
}
.slick-track {
  height: 225px;
  width: 80%;
}
#slide-icon{
  border: none;
}
.slide-icon{
  width: 93%;
  height: 30px;
  padding-left: 7%;
  padding-top: 1%;
}
.slide-contains{
   width: 100%; 
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    background-color: white;
}
.slide-quotes{
  width: 20px;
  height: 95%;
  margin-top: 5%;

}
.text-body p{
  font-size: 12px;
  text-align: start;
  
}
.text-body{
  overflow: hidden;
  height: 74%;
}
.text-end{
  font-size: 10px;
  height: 20%;
}
.slide-text{
  height: 95%;
  width: 85%;
}
.text-end-1{
  font-size: 10px;
  height: 3%;
}
.text-end-2{
  font-size: 10px;
  margin-top: 2px;
  color: grey;
}
.bg-cont-end-part{
  width: 98%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
}
.end-part-cont{
  width: 65%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.con2-final-image{
  width: 20%;
  height: 100px;
  overflow: hidden;
}
.con2-title{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.con2-butt{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#con2-butt{    
  background-color: #00CED1;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  color: white;
}
.bottom-part{
  height: 225px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: navy;
  align-items: center;
  justify-content: flex-end;
}
#img-cta{
  width:120%;
  height:150%
}
.bottom-1{
  width: 80%;
  height: 35px;
  display: flex;
  margin-top: 20px;
}
.bottom-2{
  width: 80%;
  height: 150px;
  display: flex;
  align-items: flex-end;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  justify-content: center;
}
.bott-list1{
  height: 100%;
  width: 29%;
  font-size: 8px;
}
.bott-list1 ul{
  list-style-type: none;
  overflow: hidden;
}
.bott-list2{
  height: 100%;
  width: 28%;
  font-size: 8px;
}
.bott-list2 ul{
  list-style-type: none;
  overflow: hidden;
}
.list-two{
  text-transform: uppercase;
  font-size: 10px;
}
.logo{
  display: flex;
}
.bott-list3{
  height: 57%;
  width: 25%;
  font-size: 8px;
}
#img-icon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 3px;
}
.bott-list3 ul{
  list-style-type: none;
  overflow: hidden;
}

ul.list1 {
  list-style-type: none;
  font-size: 7px;
}
.list1 li{
  display: inline;
}
.btt-1-inside{
  display: flex;
  justify-content: flex-start;
  width: 25%;
  height: 35px;
  color: white;
}
.btt-1-inside p{
  font-size: 10px;
}
.btt-1-inside img{
  margin-top: 5px;
  margin-right: 3px;
  border-radius: 50%;
}
.bottom-3{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.copyright{
  width: 53%;
  color: white;
  font-size: 8px;
}
.end-btn{
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 35px;
}
.end-btn button{
padding-top: 0px;
padding-left: 10px;
width: 40%;
padding-right: 10px;
padding-top: 2px;
border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;
background-color: rgb(6, 121, 245);
border: none;
color: white;
}


@media  (min-width: 640px) {
  .nav-bar {
    font-size: 15px;
}

#location {
  height: 17px;
  position: absolute;
  left: 43%;
}
  .nav-bt{
    padding: 1%;
    font-size: 12px;
  }
  .fancy-border-title {
    margin-top: 40px;
    width: 40%;
    font-size: 21px;
    color: white;
}
  .fancy-border-cont{
    background-size: 99.5% 340px;
    height: 340px;
  }
  .fancy-border-input input {
    height: 40px;
    width: 28%;
    font-size: 12px;
}
.four-btn-title{
  font-size: 18px;
  width: 30%;
  height: 65px;
}
.four-btn-title p{
  margin-top: 20px;
  font-size: 16px;
}
.fancy-border-input button{
  height: 38px;
  font-size: 14px;
}
.four-btn-el button{
  padding: 7px;
}
.slider-content{
  height: 400px;
}
.quotes-container{
  height: 165px;
}
.quotes-data{
  height: 165px;
  width: 78%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-content: flex-end;
  color: navy;
}
.quotes-tittle{
  width: 42%;
  height: 80px;
  font-size: 20px;
}
.quotes-text  {
  font-size: 17px;
  display: flex;
  align-items: flex-end;
}
.slider{
  height: 380px;
}
.slick-track{
  height: 340px;
}
.slide-quotes {
  width: 20px;
  height: 35%;
  margin-top: 6%;
  margin-right: 4px;
}
.slide{
  margin-top: 1%;
}
.slick-slide {
  display: none;
  float: left;
  height: 122%;
  min-height: 1px;
}
.text-body p {
  font-size: 21px;
  text-align: start;
}
.text-end{
  height: 40px;
}
.text-end-1{
  height: 28px;
  width: 100%;
  font-size: 17px;
  display: flex;
  align-items: flex-start;
}
.text-end-2{
  height: 25px;
  font-size: 15px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.con2-title{
  height: 70px;
  font-size: 20px;
  color: navy;
}
.con2-butt{
  height: 60px;
}
#con2-butt{
  font-size: 16px;
}
.bottom-part{
  height: 285px;
  justify-content: space-between;
}
.bott-list1 {
  height: 100%;
  width: 24%;
  font-size: 13px;
}
.logo {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.bottom-2{
  height: 185px;
}
.bott-list2 {
  font-size: 13px;
}
.bott-list3 {
  font-size: 12px;
}
.bott-list3 ul {
  margin-left: -40px;
  margin-top: 30px;
}
.copyright {
  width: 53%;
  color: white;
  font-size: 10px;
}
.end-btn{
  height: 35px;
  width: 90%;
}
#prev {
  height: 45px;
}
#next {
  height: 45px;
}
#img-cta {
  width: 145%;
  height: 164%;
}
}
@media  (min-width: 1024px) {
  .nav {
    width: 80%;
  }
  .nav-bt {
    padding: 1%;
    font-size: 14px;
}
#location{
  height: 22px;
  position: absolute;
  left: 44%;
}
#search{
  height: 22px;
}
.fancy-border-input input{
  width: 30%;
  font-size: 16px;
}
.four-btn-title p {
  margin-top: 20px;
  font-size: 20px;
}
.fancy-border-cont {
    background-size: 99.5% 420px;
    height: 420px;
}
.four-button-cont {
  height: 180px;
}
.quotes-container {
  height: 195px;
}
.quotes-data {
  height: 180px;
}
.fancy-border-input{
  width: 88%;
}
.four-btn-el button {
  padding: 5px;
  font-size: 17px;
}
.slider-content {
  height: 600px;
}
.slick-track{
  height: 490px;
}
.slider{
  height: 570px;
}
.slide{
  box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.1);
}
#next {
  height: 60px;
}
#prev {
  height: 60px;
}
.quotes-tittle {
  width: 42%;
  height: 105px;
  font-size: 24px;
}
.quotes-text {
  font-size: 23px;
}
.text-body p {
  font-size: 32px;
  font-family: 'Roboto';
  text-align: start;
  font-weight: 500;
}
.text-end {
  height: 127px;
}
.text-end-1 {
  height: 50px;
  width: 100%;
  font-size: 24px;
}
.text-end-2 {
  height: 54px;
  font-size: 25px;
  width: 100%;
}
#img-cta {
  width: 163%;
  height: 164%;
}
.slide-quotes {
  width: 35px;
  height: 8%;
  margin-top: 6%;
  margin-right: 8px;
}
.slide-icon {
  width: 93%;
  height: 40px;
  padding-left: 7%;
  padding-top: 3%;
}
.slide-contains {
  height: 87%;
}
.bottom-part {
  height: 340px;
}
.bottom-2 {
  height: 255px;
}
.bott-list1 {
 
  font-size: 17px;
}
.bott-list2 {
  font-size: 17px;
}
.list-two {
  font-size: 15px;
}
.bott-list3 {
  font-size: 17px;
}
.copyright {
  font-size: 13px;
}
.end-btn button {
  font-size: 15px;
  width: 440px;
}
.end-btn {
  height: 36px;
  width: 75%;
}
.bottom-3 {
    height: 85px;
}

}
