@font-face {
    font-family: "Agenda SemiBold";
    src: url("/font/Agenda-Semibold.ttf");
 
    }
@font-face {
    font-family: "Helvetica Regular";
    src: url("/font/NewHelvetica-Regular.otf");
 
    }
@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto.ttf");
 
    }
body{
    margin: 0;

    font-family:  Agenda SemiBold;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}
.run-icon{
    width: 8%;
}
.btn-el{
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 600;
}
.nav{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.nav-bar{
    list-style: none;
    font-size: 10px;
    color: navy;
}
.nav-bt{
    border-radius: 20px;
    padding: 0.5%;
    cursor: pointer;
    font-size: 8px;
    background-color: transparent;
    border: none;
    border: 1px solid blue;
    color: #0000FF;
    border-color: blue;
}
.nav-bt:hover{
   background-color:#0000FF;
   color: white;
}
.fancy-border-cont{
    background-image: url(/images/Blauverlauf.png);
    background-size: 99.5% 250px;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: flex-end;
}
.position-el{
    width: 90%;
    height: 170px;
}
.fancy-border-title{
    margin-top: 30px;
    width: 50%;
    font-size: 15px;
    color: white;
}
.fancy-border-input{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fancy-border-input button{ 
    padding-left: 5%;
    padding-right: 5%;
    height: 25px;
    font-size: 11px;
    border-radius: 18px;
    background-color: #1F75FE;
    border: none;
    color: white;
}
.fancy-border-input button:hover{
    background-color: white; 
    color: blue;
    border:   blue;
}
.fancy-border-input input{
    height: 30px;
    width: 29%;
    font-size: 10px;
    padding-left: 6%;
}
.four-button-cont{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.four-btn-el{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
}
.four-btn-el button{
    width: 22%;
    cursor: pointer;
    padding: 2px;
    background-color: transparent;
    margin-right: 5px;
    font-size: 11px;
    border-radius: 21px;
    border-width: 0.3px;
    border-color: white;
    border: none;
    border: 2px solid white;
    color: white;
}
.four-btn-el button:hover{
    background-color: blue;
    color: white;
    border: none;
    border: 2px solid blue;
}
#qutoes-el{
    width: 12%;
    height: 75%;
    margin-top: 2%;
}
.quotes-container{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.con2-img-el{
    height: 100px;
    width: 100px;
}
.quotes-data{
    height: 150px;
    width: 78%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-content: flex-end;
}
.quotes-tittle{
 width: 50%;
 height: 50px;
}
.quotes-text{
    height: 70px;
    font-size: 11px;
    width: 75%;
    margin-right: 7%;
    text-align: center;
}
.quotes-text p{
    margin-right: 7%;
}
.four-btn-title{
    width: 50%;
    height: 35px;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.background-container{
    background-image: url(/images/background.png);
    background-repeat: no-repeat; 
    /* background-origin: content-box; */
    background-size: 100% 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
